extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert(success, error)
  .container.my-3
    .row
      .col-12
        +box-head("ĐẶT HÀNG THÀNH CÔNG")