header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo (1).svg", alt="Logo")
            .col-9
                .inner-logo
                    ul 
                        li
                            a(href="/") TRANG CHỦ
                        li.nav-item
                            a(href="/products") SẢN PHẨM
                        