doctype html 
html
    head
        title Home Page
        
    body
        header
        h1 Welcome to the PRODUCT Page
        main
        p This is the main content of the home page.
        footer
        p &copy; 2024 My Website