mixin categoryOptions(categories, selectedParentId, level = 0)
  each category in categories
    - const catId = category._id.toString()
    - const isSelected = selectedParentId && catId === selectedParentId.toString()
    option(value=catId selected=isSelected ? true : false) #{'-- '.repeat(level)}#{category.title}
    if category.children && category.children.length
      +categoryOptions(category.children, selectedParentId, level + 1)