mixin subMenu(layoutcategory)
    if layoutcategory.length > 0
        ul.sub-menu-list
            each item in layoutcategory
                li
                    a(href="/products/" + item.slug) #{item.title}
                    if item.children && item.children.length > 0
                        +subMenu(item.children)
//- mixin categoryTree(categories)
//-   ul.category-list
//-     each category in categories
//-       li.category-item
//-         .category-header
//-           span.toggle-btn(
//-             data-toggle
//-           ) ▶
//-           span.category-title #{category.title}

//-         if category.children && category.children.length
//-           .category-children.hidden
//-             +categoryTree(category.children)